---
import '../styles/global.css'
import AppWrapper from '../components/UI/AppWrapper';
---
<!-- Website made by industriebrasil.com.br -->
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" sizes='32x32' href="/logos/favicon-alber-leandro-02.png" />
		<meta name="generator" content="Alber Leandro – Pro Skater e Empresário. Site oficial." />
		<title>{Astro.props.title}</title>

		<link rel="preload" href="/photos/alber-leandro-frame.webp" as="image" fetchpriority="high" />
		
	</head>
	<body class="bg=[#131313]">
		<AppWrapper client:load>
			<slot />
		</AppWrapper>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
